<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading"><%= @category.title %></p>
    </nav>
    
    <div class="columns is-mobile">
      <div class="column">
        <%= link_to "Edit", edit_category_path(@category), class: "button is-info" %>
        <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: "Are you sure you want to delete #{@category}???"}, class: "button is-danger" %>
      </div>
      <div class="column"></div>
    </div>
  </div>
<div>